<!DOCTYPE html>
<html lang='en'>
<head>
	<title><?php if(isset($title)) echo $title; ?></title>
	<link rel="shortcut icon" href='<?php echo $img_path;?>icons/favicon.ico' />
	<meta http-equiv='content-type' content='text/html;charset=UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<link rel='stylesheet' href='<?php echo $css_path;?>style.css' media='screen'/>
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Dosis'>
	<script src='<?php echo $jq_path;?>jquery.min.js'></script>
	<script src='<?php echo $js_path;?>script.js'></script>
</head>
<body dir='ltr'>
